footer {
  display: flex;
}
.nav_bottom {
  background-color: white;
  border-top: 1px solid darkgrey;
  align-items: center;
  width: 100%;
  max-width: 7000px;
  height: 64px;
  justify-content: space-between;
}
.nav_bottom .mail_image, .nav_bottom .mail_text, .nav_bottom .phone_image, .nav_bottom .phone_text {
  float: left;
  text-align: center;
}
.nav_bottom .mail_image {
  margin: 24px 10px 24px 202px;
  display: flex;
}
.nav_bottom .mail_text {
  color: #000B26;
  white-space: nowrap;
  margin: 21px 31px 21px 0px;
  text-decoration:none;
}
.nav_bottom .phone_image {
  margin: 21px 9px 19px 0px;
  display: flex;
}
.nav_bottom .phone_text {
  color: #000B26;
  white-space: nowrap;
  text-decoration:none;
  margin: 21px 0px;
}
.nav_bottom .mail_text:hover, .nav_bottom .phone_text:hover {
  text-decoration: underline;
}
