nav {
  background-color: white;
  border-bottom: 1px solid darkgrey;
  align-items: center;
  width: 100%;
  max-width: 7000px;
  height: 80px;
  justify-content: space-between;
  display: flex;
}
nav .link, nav .logo, nav .gps, nav .town, nav .e, nav .photo_profile, nav .name_profile, nav .after_e {
  float: left;
  text-align: center;
}
nav .logo {
  margin: 31px 48px 31px 200px;
}
nav .link {
  color: rgba(0, 11, 38, 0.64);
  margin: 31px 24px 0px 0px;
  white-space: nowrap;
  text-decoration: none;
  padding-bottom: 31px;
}
nav .gps {
  margin: 30px 8px 30px 366px;
}
nav .town {
  margin: 30px 48px 30px 0px;
  color: rgba(0, 11, 38, 0.64);
  white-space: nowrap;
  text-decoration: none;
}
nav .e {
  margin: 28px 8px 28px 0px;
}
nav .after_e {
  margin: 30px 24px 30px 0px;
  white-space: nowrap;
  text-decoration: none;
  color: #000000;
  font-weight: bold;
}
nav .photo_profile {
  margin: 28px 4px 28px 0px;
}
nav .name_profile {
  margin: 30px 200px 30px 0px;
  white-space: nowrap;
  color: rgba(0, 11, 38, 0.64);
  text-decoration: none;
}
nav .link:focus {
  border-bottom: 3px solid #07C88E;
  padding-bottom: 29px;
}
nav .link:focus, nav .town:focus, nav .after_e:focus, nav .name_profile:focus {
  color: black;
}
