html,
body,
#root {
  margin: 0 auto;
  padding: 0;
  width:100vw;
  height: 100vh;
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width:100%
}
.content {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: 1% 12.5em  0 12.5em;
}
.small_slides {
  display: flex;
  flex-direction: row;
}
.first_slide {
  justify-content: space-between;
  margin-right: 1%;
  margin-left: 0%;
  width: 49%;
}
.second_slide {
  justify-content: space-between;
  margin-left: 1%;
  margin-right: 0%;
  width: 49%;
}
